# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment
.env

# Password History
data/password_history.txt

# OS Files
.DS_Store
Thumbs.db
Desktop.ini